# Typescript result
app

# Dependency directories
node_modules/
.pnpm-store/

# Optional npm cache directory
.npm

# IDEs
.vscode
.idea
*.iml
.atom-build.json
.project
coverage
dist

# Config
.env

# Snyk
.dccache
.eslintcache

# Local-only compose override
docker-compose.gratheon.yml
