DB_CLIENT=pg
DB_HOST=gql-schema-registry-db
DB_USERNAME=postgres
DB_SECRET=postgres
DB_PORT=5432
DB_NAME=schema_registry
# Optional admin DB used for createDatabaseIfNotExists, default is "postgres"
# DB_ADMIN_DATABASE=postgres
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
# DB_SSL_CA="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
ASSETS_URL=http://localhost:6001
NODE_ENV=production
